@media (min-width: 1020px) {
    .phone-section-top {
        width: 245%;
        height: 100%;
    }
    .phone-section {
        height: 56vw;
    }
    .phone-section-slide1 {
        height: 51vw;
        width: 98vw;
    }
    .phone-section-slide2_right img {
        width: 48vw;
    }
    .phone-section-slide2_left img {
        width: 48vw;
    }
    .phone-vertical img {
        width: 22.55vw;
    }
    .phone-horizontal img {
        width: 42.6vw;
    }
    .chev-left {
        margin-top: 283px;
        margin-left: 19px;
    }

    .chev-right {
        margin-top: 282px;
        margin-left: 972px;
    }
    .off_screen_vertical {
        height: 32vw;
        width: 18vw;
    }
    .off_screen_horizontal {
        height: 17vw;
        width: 30vw;
    }

}
@media (max-width: 1019px) {
    .services-interior {
        flex: 1 0 43%;
        margin-right: 42px;
    }
    .phone-section-top {
        width: 245%;
        height: 100%;
    }
    .phone-section {
        height: 56vw;
    }
    .phone-section-slide1 {
        height: 59vw;
        width: 98vw;
    }
    .phone-section-slide2_right img {
        width: 48vw;
    }
    .phone-section-slide2_left img {
        width: 48vw;
    }
    .phone-vertical img {
        width: 22.55vw;
    }
    .phone-horizontal img {
        width: 42.6vw;
    }
    .chev-left {
        margin-top: 27%;
        margin-left: 2%;
    }

    .chev-right {
        margin-top: 26%;
        margin-left: 93%;
    }
}






