/*header portfolio styles*/

body {
    font-family: 'Lato', sans-serif;
}
h1 {
    font-size: 24px;
}

.wrapper {
    max-width: 1020px;
    padding: 0 40px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header__wrapper {
    display: flex;
}

.filter {
    display: flex;
    flex-direction: row;
}

.filter-item {
    padding: 0 4px;
}