
@import "node_modules/normalize.css/normalize.css";

body {
    font-family: 'Lato', sans-serif;
}

/*header portfolio styles*/

.portfolio-header__title {
    font-size: 30px;
    font-weight: bolder;
    margin: 0;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.wrapper {
    max-width: 1020px;
    padding: 0 40px;
    margin: 0 auto;
    box-sizing: border-box;
}


.header__wrapper,.content__wrapper {
    background: rgb(45,48,58);
    color: rgb(102,109,138);
}

.content__wrapper {
    height: 685px;
}


.portfolio-header {
    padding-top: 60px;
}

.header__text {
    padding-top: 4px;
    font-size: 17px;
    word-spacing: .38mm;
}

.filter {
    display: flex;
    flex-direction: row;
}

.filter__item {
    border: 1px solid rgb(102,109,138);
    color: rgb(102,109,138);
    padding: 4px 5px 4px 6px;
    font-size: 12px;
    background: rgb(45,48,58);
    border-radius: 4px;
}

.filter__item--items {
    margin-left: 3mm;
}

.filter__item:hover {
    transition: all ease-out .3s;
    border-color: white;
    color: white;
    cursor: pointer;
}

/*content style*/

.content-block {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    justify-content: flex-end;
    width: 960px;
}

.content-block__image {
    padding: 2px 14px 15px 0;
    flex-grow: 1;
}

.bottom {
    height: 6px;
    background: rgb(50,55,70);
    width: 1020px;
    margin: auto;
}

/*person list style*/


.about__section {
    background: rgb(242,242,242);
    width: 1020px;
    height: 728px;
    margin: auto;
    color: rgb(102,109,137);
}

.section-header {
   padding-top: 38px;
}

.section-header__name {
    font-size: 30px;
}

.section-header__description {
    word-spacing: .23mm;
    letter-spacing: .06mm;
    margin-top: -7px ;
    font-size: 17px;
    line-height: 30px;
}

.peoples {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 27px;
}

.peoples__person-list {
    padding: 0 -3px -8px 0;
}

.peoples__photo {
    margin-top: -1px;
    width: 300px;
}

.peoples__description {
    width: 300px;
}

.peoples__description {
    margin-top: -17px;
}

#person-list__center-block {
    width: 302px;
}

.peoples__title {
    padding-top: .09mm;
    font-size: 18px;
    letter-spacing: .02mm;
    word-spacing: .02mm;
}

.peoples__text {
    margin-top: -23px;
    letter-spacing: .06mm;
    font-size: 11px;
    line-height: 21px;
    word-spacing: .2mm;
    text-align: justify;
}

.peoples__social-links {
    padding-left: 1px;
    padding-top: 9px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.peoples__social-links-item {
    padding: 1px 8px 0 0;
}

.right-links {
    padding: 5px 2.13mm 0 0;
}

.peoples__social-links-item:hover {
    cursor: pointer;
    transition: all ease-out .5s;
    -webkit-filter: drop-shadow(0 0 2px rgba(100,0,0,0.5));
    filter: drop-shadow(0 0 2px rgba(100,0,0,0.5));
}

.bottom-line {
    height: 6px;
    background: white;
    width: 1020px;
    margin: auto;
}







