@import "node_modules/normalize.css/normalize.css";

/*header styles*/
body {
    width: 1020px;
    font-family: 'Lato', sans-serif;
}
h1 {
    font-size: 24px;
}

.mark::before {
    content: '•';
    padding: 12px;
    color: rgb(73,78,98);
}

.wrapper {
    display: flex;
    width: 1020px;
    flex-direction: column;
    justify-content: center;
}

.header {
    width: 1020px;
    height: 84px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgb(45, 48,58);
    color: white;
}


.title {
    letter-spacing: normal;
    padding-left: 40px;
    padding-top: 3px;
    align-self: center;
    font-size: 12px;
    font-weight: bold;
}

.star-color {
    color: rgb(240,108,100);
}

.item {
    display: inline-block;
    list-style-type: none;
    font-size: 11px;
    cursor: pointer;
}

.item:hover {
    color: rgb(240,108,100);
}

.home-menu:hover {
    color: white;
}

.home-menu {
    color: rgb(240,108,100);
}

.header-menu {
    padding-top: 10px;
    padding-right: 41px;
    align-self: center;
}


.header-bottom {
    width: 1020px;
    height: 10px;
    background: rgb(50, 55,70);
}

/*section-phone styles*/

.phone-section {
    width: 1020px;
    display: flex;
    flex-direction: column;
    height: 594px;
    background: rgb(240,108,100);
}

.phone-section-top {
    display: flex;
}
.phone-vertical {
    margin-top: 54px;
    margin-left: 49px;
}

.phone-horizontal {
    margin-top: 175px;
    margin-left: 99px;
}

.chev-left {
    margin-top: 277px;
    margin-left: 37px;
    cursor: pointer;
}

.chev-right {
    margin-top: 275px;
    margin-left: 75px;
    cursor: pointer;
}

.phone-section-bottom {
    width: 1020px;
    background: rgb(234, 103, 107);
    height: 137px;
}

.phone-vertical img {
    border-radius: 27px;
    box-shadow:
            0 0 rgb(206,93,86),
            1px 1px rgb(206,93,86),
            2px 2px rgb(206,93,86),
            3px 3px rgb(206,93,86),
            4px 4px rgb(206,93,86),
            5px 5px rgb(206,93,86),
            6px 6px rgb(206,93,86),
            7px 7px rgb(206,93,86),
            8px 8px rgb(206,93,86),
            8px 9px rgb(206,93,86),
            9px 9px rgb(206,93,86),
            10px 10px rgb(206,93,86),
            11px 11px rgb(206,93,86),
            12px 12px rgb(206,93,86),
            13px 13px rgb(206,93,86),
            14px 14px rgb(206,93,86),
            15px 15px rgb(206,93,86),
            16px 16px rgb(206,93,86),
            17px 17px rgb(206,93,86),
            18px 18px rgb(206,93,86),
            19px 19px rgb(206,93,86),
            20px 20px rgb(206,93,86),
            21px 21px rgb(206,93,86),
            22px 22px rgb(206,93,86),
            23px 23px rgb(206,93,86),
            24px 24px rgb(206,93,86),
            25px 25px rgb(206,93,86);
}

.phone-horizontal img {
    border-radius: 27px;
    box-shadow:
            0 0 rgb(206,93,86),
            1px 1px rgb(206,93,86),
            2px 2px rgb(206,93,86),
            3px 3px rgb(206,93,86),
            4px 4px rgb(206,93,86),
            5px 5px rgb(206,93,86),
            6px 6px rgb(206,93,86),
            7px 7px rgb(206,93,86),
            8px 8px rgb(206,93,86),
            8px 9px rgb(206,93,86),
            9px 9px rgb(206,93,86),
            10px 10px rgb(206,93,86),
            11px 11px rgb(206,93,86),
            12px 12px rgb(206,93,86),
            13px 13px rgb(206,93,86),
            14px 14px rgb(206,93,86),
            15px 15px rgb(206,93,86),
            16px 16px rgb(206,93,86),
            17px 17px rgb(206,93,86),
            18px 18px rgb(206,93,86),
            19px 19px rgb(206,93,86),
            20px 20px rgb(206,93,86),
            21px 21px rgb(206,93,86),
            22px 22px rgb(206,93,86),
            23px 23px rgb(206,93,86),
            24px 24px rgb(206,93,86),
            25px 25px rgb(206,93,86);
}

.chev-left img:hover, .chev-right img:hover {
    -webkit-filter: drop-shadow(0 0 2px rgba(100,0,0,0.5));
    filter: drop-shadow(0 0 2px rgba(100,0,0,0.5));
}

.phone-section-bottom {
    background: rgb(234,103,107);
    height: 8px;
}

/*section-services styles*/

.services {
    width: 816px;
    color: rgb(102,109,137);
    background: rgb(242,242,242);
    height: 394px;
}

.services-header {
    flex-direction: row;
    margin-top: 26px;
    margin-left: 30px;
    margin-right: 30px;
}

.services-title {
    font-size: 24px;
    font-weight: bolder;
}

.services-title-text {
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: .000001mm;
    word-spacing: .18mm;
    line-height: 22px;
}

.services-block {
    display: flex;
    height: 300px;
    flex-direction: column;
}

.services-all-3-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 21px;
    margin-top: 3px;
}

.services-interior {
    display: flex;
    width: 240px;
    margin-left: 14px;
    margin-top: -12px;
}

.services-text-block {
    margin-top: 6px;
}

.services-text-block p {
    text-align: justify;
    letter-spacing: .02mm;
    word-wrap: break-word;
    overflow-wrap: break-word;
}


.services-text-block h4 {
    font-size: 15px;
}

.services-all-text {
    margin-top: -13px;
    word-wrap: break-word;
    font-size: 9px;
    word-spacing: .18mm;
    line-height: 18px;
}

.icons {
    margin-top: 6px;
    margin-right: 20px;
    align-self: center;
}

.icons img {
    width: 47px;
}

.services-bottom {
    height: 6px;
    background: white;
}
